.category {
    z-index: 999;
    margin-top: 50px;
  }
  .category .title {
    text-align: center;
  }
  .category .title h1 {
    font-size: 2em;
  }

  .category_grid {
    --color: rgba(30, 30, 30);
    --bgColor: #ecebeb;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    font-family: "Exo 2", sans-serif;
    color: var(--color);
    background: var(--bgColor);
  }
  .category_grid .category_box{
    display: flex;
    flex-direction: column;  
    justify-content: center;
   text-align: center;
    align-items: center;
  }
  .category_grid .category_box img{
    width: 70px;

  }