.category {
    z-index: 99999999999999999999999999999999999999;
    margin-top: 50px;
  }
  .category .title {
    text-align: center;
  }
  .category .title h1 {
    font-size: 2em;
  }
  .category .category_grid {
    padding-top: 50px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
}

.category .category_grid .category_box { 
    max-width: 50%; 
    margin: auto;
    border-radius: 20px;
    background: var(--p);
    border: 1px solid var(--w);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

  .category .category_grid .category_box img {
    width: 100%;
    height: auto;
    padding: 20px;
  }