.unit_grid{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    width: 100%;
}
.unit_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--p);
    padding: 20px ;
    width: 100%;
    

}
.unit_input_box{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
width: 100%;
margin-top: 15px;

}
.unit_input_box input{
    width: 90%;
    height: 40px;
    background: none;
    border: 1px solid var(--p);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}
.unit_input button{
    width: 200px;
    height: 40px;
    background: var(--g);
    color: var(--w);
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    border: none;
    transition: 0.4s ease;
    cursor: pointer;
}
.unit_input button:hover{
    background: none;
    box-shadow:2px 2px 4px var(--g) ;
    color: var(--b);
}
.unit_info{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;


}
.unit_info_box{
    border: 2px solid var(--p);
    text-align: center;
    padding: 20px;
}
.unit_info_box h5{
    font-size: 18px;
    padding-bottom: 10px;
    color: var(--g);
}
.unit_info_box:nth-child(1),.unit_info_box:nth-child(2){
    border-right: none;
}
.unit_info_box:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.unit_info_box:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media (max-width:800px){
    .unit_info{
        width: 100%;
        margin: 20px 0;
        
    }
}
@media (max-width:600px){
    .unit_info{
        flex-direction: column;

    }
    .unit_info_box:nth-child(1),.unit_info_box:nth-child(2){
        border: 2px solid var(--p);
        
    }
    .unit_info_box{
        border-radius: 20px;
        width: 90%;
        margin-top: 10px;
    }

}