
.image {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
  }
  .image img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 0.3s ease;
  }
  .image .sale_img {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .image .status {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .image .status span{
    padding: 5px 10px;
    border-radius: 5px;
    
  }
  .image .sale_img img {
    width:55px;
    box-shadow: none;
    border-radius: 5px;

  }
  .image .price {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
  .image .price .price_grid h4 {
    color: var(--w);
    background-color: var(--p);
    padding: 5px 5px;
    border-radius: 20px;
  }
  .image .price ul li {
    list-style: none;
    display: inline-block;
  }
  .image .price ul li a {
    box-shadow: inset 10px 10px 20px #493c3c;
    background: var(--w);
    border-radius: 50%;
    padding: 5px;
  }
  .image .price ul li a i {
    color: var(--w);
    font-size: 16px;
  }
  .wish_active a{
    box-shadow: inset 10px 10px 20px #f58181 !important;
    
  }
  .compare_active a{
    box-shadow: inset 10px 10px 20px #f58181 !important;
  }
  
  .content{
    padding: 20px ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .content .content_cont h5,.content .content_cont h4, .content .content_cont p{
    padding-top: 10px;
  }
  .new_properties_box:hover .image img{
    transform: scale(1.1);
  }
  .new_properties_box:hover .image .sale_img img{
    transform: scale(1);
  }
  @media (max-width:1000px){
    .content .content_cont h5, .content .content_cont h4, .content .content_cont p{
      padding-top: 5px !important;
      font-size: 15px !important;

    }
    .new_properties_box .content .details a, .image .price .price_grid h4{
      font-size: 15px;

    }
    .image .price ul li a i {
      font-size: 13px;
    }

    .image .price ul li a{

      padding: 3px 5px;
    }
    .image .sale_img img{
      width: 45px;
    }
  }
  @media (max-width:800px){
    .content .content_cont h5, .content .content_cont h4, .content .content_cont p{
      padding-top: 5px !important;
      font-size: 13px !important;

    }
    .image .price .price_grid h4{
      padding: 5px;
    }
    .content{
      padding: 15px ;
    }
    .image .sale_img img{
      width: 45px;
    }
    .new_properties_box .content .details a, .image .price .price_grid h4{
      font-size: 13px;
    }
    .image .price{
      bottom: 20px;
      left: 10px;
      right: 10px;
    }
    .image .price ul li a i {
      font-size: 13px;
    }
    .image .price ul li a{

      padding: 3px 5px;
    }
  }