.dropdown {
    position: relative;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .dropdown:hover .dropdown_menu {
    display: block;
  }
  
  .dropdown .dropdown_menu {
    position: absolute;
    display: none;
    transition: 0.4s ease;
    top: 0;
    left: -25px;
    text-align: start;
    width: 100%;
    margin-top: 20px;
    transition: 0.5s;
  }
  .dropdown .dropdown_menu li {
    display: inline-block !important;
    width: 150px !important;
    border-bottom: 1px #ddd8d8 solid;
    padding: 10px 0 !important;
    background-color: #fff;
    transition: 0.4s ease;
  }
  .dropdown .dropdown_menu li:hover {
    background: var(--g);
  }
  .dropdown .dropdown_menu li:hover .dropdown_menu_p {
    color: var(--w);
  }
  .dropdown .dropdown_menu li a {
    border-radius: 0;
    padding: 10px 0 10px 6px;
    color: #3b3b3b;
    z-index: 999;
    transition: 0.4s ease;
    text-decoration: none;
  }
  
  .sub-dropdown {
    position: relative;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .sub-dropdown:hover .sub-dropdown-menu {
    display: block;
  }
  
  .sub-dropdown .sub-dropdown-menu {
    position: absolute;
    display: none;
    transition: 0.4s ease;
    top: -20px;
    left: 118px;
    text-align: start;
    width: 100%;
    margin-top: 20px;
    transition: 0.5s;
  }
  .sub-dropdown .sub-dropdown-menu li {
    display: inline-block !important;
    width: 150px !important;
    border-bottom: 1px #ddd8d8 solid;
    padding: 10px 0 !important;
    background-color: #fff;
    transition: 0.4s ease;
  }
  .sub-dropdown .sub-dropdown-menu li:hover {
    background: var(--g);
  }
  .sub-dropdown .sub-dropdown-menu li:hover a {
    color: var(--w);
  }
  .sub-dropdown .sub-dropdown-menu li a {
    border-radius: 0;
    padding: 10px 0 10px 6px;
    color: #3b3b3b;
    z-index: 999;
    transition: 0.4s ease;
    text-decoration: none;
  }
  .navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    transition: background 0.3s ease;
    width: 100%;
    padding: 10px 0;
  }
  .navbar .nav_content {
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
  }
  .navbar .nav_content .logo_desktop {
    width: 100%;
  }
  .navbar .nav_content .logo_desktop img {
    width: 100px;
    height: auto;
    transition: 0.4s;
  }
  .navbar .nav_content nav {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    transition: 0.4s;
  }
  .navbar .nav_content nav ul li {
    list-style: none;
    display: inline;
    margin: 0 25px;
    transition: 0.2s;
    padding: 0px 2px;
  }
  .navbar .nav_content nav ul li .nav_color {
    text-decoration: none !important;
    color: var(--b);
    font-weight: 500;
    transition: color 0.3s ease;
  }
  .nav_btn{
    margin-top: 15px;
    text-align: end;
  }
  .nav_btn ul li {
    list-style: none;
    display: inline;
    transition: 0.2s;
    padding: 0px 2px;
    
  }
  .navbar .nav_content nav ul li a{
    text-decoration: none;
  }
  .navbar .nav_content nav ul .active {
    border-bottom: 2px solid var(--p);
  }
  
  .mobile_nav {
    display: none;
  }
  
  .menu_hidden {
    display: none !important;
  }
  
  .svg_logo {
    -webkit-text-fill-color: red;
  }
  
  .back {
    transition: all 0.2s ease;
    z-index: 10;
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--p);
    border-bottom: 2px solid white;
  }
  
  .navbar_mobile {
    width: 100%;
    position: fixed;
    z-index: 11;
    margin-top: -5px;
    left: 0;
  }
  .navbar_mobile .grid {
    width: 100%;
    display: grid;
    height: 65px;
    align-items: center;
    grid-template-columns: auto 50% auto;
  }
  .navbar_mobile .grid a {
    text-decoration: none;
    color: #000;
  }
  
  .hamburger-menu {
    cursor: pointer;
    margin-left: 20px;
  }
  
  .menu-bar1,
  .menu-bar2,
  .menu-bar3 {
    width: 15px;
    height: 2px;
    background-color: #000;
    margin: 3px 0;
    transition: 0.2s;
  }
  
  /* ROTATE FIRST BAR */
  .active .menu-bar1 {
    transform: rotate(-45deg) translate(-0.3rem, 0.18rem);
    background: var(--w);
  }
  
  /* FADE OUT SECOND BAR */
  .active .menu-bar2 {
    opacity: 0;
  }
  
  /* ROTATE LAST BAR */
  .active .menu-bar3 {
    transform: rotate(45deg) translate(-0.28rem, -0.13rem);
    background: var(--w);
  }
  .menu_overlay{
    position: relative;
  }
  .menu_overlay span{
    position: absolute;
    bottom: -31px;
    border-radius: 5px;
    left:0px ;
    color: var(--w);
    padding: 5px 10px;
    background-color: var(--p);
    display: none;
  }
  .menu_overlay:hover span {
    
    display: block;
}

  .hamburger-menu #menu_cont {
    margin: -16px 23px;
    width: auto;
    height: 19px;
    overflow: hidden;
    scrollbar-width: none;
  }
  
  .active .menu_cont p {
    translate: 0% -100%;
    color: var(--w);
  }
  
  .hamburger-menu .menu_cont p {
    transition: 0.2s;
  }
  
  .logo {
    margin: 20px 0 0 20px;
    width: 100%;
  }
  .logo a img {
    width: 120px;
  }
  
  .end_sec {
    text-align: end;
    margin-right: 20px;
    margin-top: 14px;
  }
  
  .center {
    display: flex;
    align-items: center;
  }
  
  .overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .overlay-slide-right {
    transition: all 0.2s ease-in-out;
    transform: translateX(0%);
  }
  
  .overlay-slide-left {
    transition: all 0.2s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
  }
  .nav_color img{
    width:30px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .overlay nav {
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    background-color: #bfa890;
  }
  
  /* NAV MENU ITEMS */
  .overlay nav ul {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    list-style: none;
    width: 100%;
    margin-top: 10px;
  }
  
  .overlay nav ul li {
    padding: 25px 20px;
    border-bottom: 2px solid white;
  }