.dropdown {
    position: relative;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .dropdown:hover .dropdown_menu {
    display: inline-block;
  }
  
  .dropdown .dropdown_menu {
    position: absolute;
    display: none;
    transition: 0.4s ease;
    top: 0;
    left: -25px;
    text-align: start;
    width: 100%;
    margin-top: 20px;
    transition: 0.5s;
  }
  .dropdown .dropdown_menu li {
    display: block !important;
    width: 150px !important;
    border-bottom: 1px #ddd8d8 solid;
    padding: 10px 0 !important;
    background-color: #fff;
    transition: 0.4s ease;
  }
  .dropdown .dropdown_menu li:hover {
    background: var(--g);
  }
  .dropdown .dropdown_menu li:hover .dropdown_menu_p {
    color: var(--w);
  }
  .dropdown .dropdown_menu li a {
    border-radius: 0;
    padding: 10px 0 10px 6px;
    color: #3b3b3b;
    z-index: 999;
    transition: 0.4s ease;
    text-decoration: none;
  }
  
  .sub-dropdown {
    position: relative;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .sub-dropdown:hover .sub-dropdown-menu {
    display: block;
  }
  
  .sub-dropdown .sub-dropdown-menu {
    position: absolute;
    display: none;
    transition: 0.4s ease;
    top: -20px;
    left: 118px;
    text-align: start;
    z-index: 99999;
    width: 100%;
    margin-top: 20px;
    transition: 0.5s;
  }
  .sub-dropdown .sub-dropdown-menu li {
    display: inline-block !important;
    width: 150px !important;
    border-bottom: 1px #ddd8d8 solid;
    padding: 10px 0 !important;
    background-color: #fff;
    transition: 0.4s ease;
  }
  .sub-dropdown .sub-dropdown-menu li:hover {
    background: var(--g);
  }
  .sub-dropdown .sub-dropdown-menu li:hover a {
    color: var(--w);
  }
  .sub-dropdown .sub-dropdown-menu li a {
    border-radius: 0;
    padding: 10px 0 10px 6px;
    color: #3b3b3b;
    z-index: 999;
    transition: 0.4s ease;
    text-decoration: none;
  }
  .navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    transition: background 0.3s ease;
    width: 100%;
    padding: 10px 0;
  }
  .nav_content {
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
  }
   .nav_content .logo_desktop {
    text-align: center;
    width: 100%;
  }
   .nav_content .logo_desktop img {
    width: 100px;
    height: auto;
    transition: 0.4s;
  }
  .navbar .nav_content nav {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    transition: 0.4s;
  }
  .navbar .nav_content nav ul li {
    list-style: none;
    display: inline;
    margin: 0 25px;
    transition: 0.2s;
    padding: 0px 2px;
  }
  .navbar .nav_content nav ul li .nav_color {
    text-decoration: none !important;
    color: var(--b);
    font-weight: 500;
    transition: color 0.3s ease;
  }
  .nav_btn{
    margin-top: 15px;
    text-align: end;
  }
  .nav_btn ul li {
    list-style: none;
    display: inline;
    transition: 0.2s;
    padding: 0px 2px;
    
  }
  .navbar .nav_content nav ul li a{
    text-decoration: none;
  }
  .navbar .nav_content nav ul .active {
    border-bottom: 2px solid var(--p);
  }
  
  .mobile_nav {
    display: none;
  }
  
  .menu_hidden {
    display: none !important;
  }
  
  .svg_logo {
    -webkit-text-fill-color: red;
  }

  
  .logo {
    margin: 20px 0 0 20px;
    width: 100%;
  }
  .logo a img {
    width: 120px;
  }
  
  .end_sec {
    text-align: end;
    margin-right: 20px;
    margin-top: 14px;
  }

  .hamburg_menu{
    cursor: pointer;
    margin: 10px 0;
 }
 .menu_1 , .menu_2, .menu_3{
     width: 18px;
     height: 2px;
     background: var(--b);
     margin: 5px;
     transition: 0.2s ease;
 }
 
 .menuActive .menu_1{
     transform: rotate(-45deg) translate(-0.3rem, 0.4rem);
 
 }
 .menuActive .menu_2{
     opacity: 0;
 }
 .menuActive .menu_3{
     transform: rotate(45deg) translate(-0.2rem, -0.3rem);
 }
  

  
  .nav_color img{
    width:30px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .mobile_nav .logo_desktop img {
    margin: 10px;
  }

  .mobile_nav{
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    transition: background 0.3s ease;
    width: 100%;
    padding: 10px 0;
  }
  .nav_mobile{
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--w);
    width: 100%;
    height: 100vh;
    transition: 0.4s ease;
    z-index: 999;

  }
  .leftMobile{
    left: 0px;
    transition: 0.4s ease;
  }
  .nav_mobile ul {
    margin-top: 50px;
    list-style: none;
  }
  .nav_mobile ul li{
    padding: 20px 0;
    display: block;
  }
 

  @media (max-width:800px){
    .navbar{
      display: none;
    }
    .mobile_nav{
      display: block;
    }
    .nav_mobile{
      display: block;
    }
    .dropdown .dropdown_menu {
      left: 80px;      
      top: 15px;
    }
    .sub-dropdown .sub-dropdown-menu{
      left: 140px;
      top: -137px;
    }
  }
  @media (max-width:1000px){
    .navbar .nav_content nav ul li{
      margin: 0 15px;
    }
  }