.about_banner{
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('../../assets/image/aboutBannerImage.jpg');;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-size: cover;
    margin-top: 95px;
    
}
.about_banner_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}
.about_banner_content h1{
    text-decoration: underline;
    color: var(--w);
    font-size: 35px;
}
.about_banner_content h4{
    color: var(--w);
    margin-top: 10px;
}
@media (max-width:800px){
    .about_banner{
        margin-top: 65px;
    }
}