
.properties_title {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
  }
  .properties_title h1 {
    font-size: 40px;
  }
  .properties_title .button {
    text-align: end;
  }
  .properties_title .button a {
    color: var(--b);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.4s ease;
  }
  .properties_title .button a:hover {
    background: var(--p);
    color: var(--w);
  }
  
  .new_properties {
    width: 100%;
  }
  #specific_hot-section-container, #specific_new-section-container, #specific_premium-section-container, #specific_featured-section-container {
    width: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
    gap: 25px;
  }
  
  .new_properties_box, .featured_properties_box, .hot_properties_box, .premium_properties_box {
    margin-top: 20px;
  }
  .new_properties_box .content, .featured_properties_box .content, .hot_properties_box .content, .premium_properties_box .content {
    width: 100%;
    border-bottom: 1px solid var(--p);
    border-left: 1px solid var(--p);
    border-right: 1px solid var(--p);
    margin-top: -10px;
    background: var(--w);
  }
  
  .new_properties_box .content p, .featured_properties_box .content p, .hot_properties_box .content p, .premium_properties_box .content p {
    color: rgb(86, 85, 85);
  }
  .new_properties_box .content p i, .featured_properties_box .content p i, .hot_properties_box .content p i, .premium_properties_box .content p i {
    padding-right: 7px;
  }
  .new_properties_box .content .details, .featured_properties_box .content .details, .hot_properties_box .content .details, .premium_properties_box .content .details {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background: var(--p);
    text-align: center;
    align-items: center;
    border-radius: 10px;
  }
  .new_properties_box .content .details a, .featured_properties_box .content .details a, .hot_properties_box .content .details a, .premium_properties_box .content .details a {
    padding-top: 10px;
    color: var(--w);
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  
  .hot_selling {
    background: url(../../assets/image/bg-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
  }
  
  .featured {
    width: 100%;
    background: var(--p);
    height: 800px;
    margin-top: -350px;
  }