
.filter-container h2 {
    padding: 10px 0 20px 0  ;
  }
  
  .filter-buttons, .categories, .form-buttons, .location {
    margin-bottom: 30px;
  }
  .filter-buttons p, .categories p, .form-buttons p {
    margin-bottom: 5px;
  }
  
  .filter-buttons button, .categories button, .form-buttons button {
    background-color: #444455;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .filter-option.selected {
    background-color: #a9a9b3;
  }
  
  .filter-buttons button:hover, .categories button:hover, .form-buttons button:hover {
    background-color: #a9a9b3;
  }

  
  .location label {
    display: block;
    margin-bottom: 5px;
  }
  
  .location select {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .location select::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .price-range {
    margin-bottom: 15px;
  }
  
  .price-range label {
    display: block;
    margin-bottom: 5px;
  }
  
  .price-range input[type=range] {
    width: calc(100% - 100px);
    margin: 5px 0;
  }
  
  .price-values {
    display: flex;
    justify-content: space-between;
  }
  
  .form-buttons button[type=submit], .form-buttons button[type=reset] {
    width: 45%;
  }
  
  .listing {
    margin-top: 150px;
    color: var(--w);
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    justify-content: center;
  }
  .listing .search_div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
  }
  .listing .listing_div {
    margin-left: 100px;
    width: calc(100% - 100px);
    max-width: 100%;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .listing .listing_div .listing_box {
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
  }
  .listing .listing_div .listing_box .listing_photo {
    width: 100%;
    height: auto;
  }
  .listing .listing_div .listing_box .listing_content {
    position: relative;
    width: 100%;
    border-bottom: 2px solid var(--p);
    border-top: 2px solid var(--p);
    border-right: 2px solid var(--p);
    padding: 20px;
    color: var(--b);
  }
  .listing .listing_div .listing_box .listing_content h3, .listing .listing_div .listing_box .listing_content p {
    padding-top: 15px;
  }
  .listing .listing_div .listing_box .listing_content p i {
    margin-right: 8px;
  }
  .listing .listing_div .listing_box .listing_content p span{
    font-weight: 600;
  }
  .listing .listing_div .listing_box .listing_content .details {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: var(--p);
    text-align: center;
  }
  .listing .listing_div .listing_box .listing_content a .details  {
    padding-top: 12px;
    color: var(--w);
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  .listing .listing_div .listing_box .listing_content .icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .listing .listing_div .listing_box .listing_content .icon ul li {
    list-style: none;
    display: inline-block;
  }
  .listing .listing_div .listing_box .listing_content .icon ul li a {
    box-shadow: inset 10px 10px 20px #493c3c;
    background: var(--w);
    border-radius: 50%;
    padding: 5px;
  }
  .listing .listing_div .listing_box .listing_content .icon ul li a i {
    color: var(--w);
    font-size: 16px;
  }
  
  .price-range {
    margin: 15px 0;
  }
  
  .price-range label {
    display: block;
    margin-bottom: 5px;
  }
  
  .price-range input[type=range] {
    width: 100%;
  }
  
  .price-values {
    display: flex;
    justify-content: space-between;
  }
  @media(max-width:1000px){
    .listing .listing_div .listing_box{
      grid-template-columns: 100%;
    }
    .listing_div_box{
      display: grid;
      grid-template-columns: 48% 48%;
      justify-content: center;
      gap: 10px;
      
    }

    .listing {
      margin-top: 80px;
    }

    .listing .listing_div{
      width: 100%;
      margin-left: 0;
    }
    .listing .listing_div .listing_box .listing_content{
      border-left: 2px solid var(--p);
      border-top: 0;
      padding: 10px;      
    }
    .image{
      height: 200px;

    }
  }
  @media(max-width:800px){
    .listing_div_box{
      display: grid;
      grid-template-columns: 90%;
      justify-content: center;
      gap: 0px;
      
    }
    .listing .search_div{
      width: 325px;
    }
    .mansion{
      margin-top: 10px;
    }
  }
  @media(max-width:600px){
    .listing{
      grid-template-columns: 100%;
    }
    .listing .search_div{
      width: 100%;
    }
    .listing_div_box{
      display: grid;
      grid-template-columns: 48% 48%;
      justify-content: center;
      gap: 10px;      
    }
    .listing_content p, .listing_content h4,.listing_content h3 {
      font-size: 15px;
      
    }
    .listing .listing_div .listing_box .listing_content p,.listing .listing_div .listing_box .listing_content h3{
      padding-top: 5px;
    }
    .listing .listing_div .listing_box .listing_content .icon ul li a i{
      font-size: 13px;
      padding: 1px 1px;
    }
  }