.faq-item {
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    transition:  0.3s ease;
  }
  
  .faq-item:hover {
    background-color: #f9f9f9;
  }
  
  .faq-question {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .faq-answer p{
    margin: 15px 0;
    max-width: 900px;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-size: 1em;
    color: #555;
    /* padding: 10px 0; */
    
  }
  
  .faq-item.active .faq-answer {
    max-height: 200px; /* Adjust based on your content */
  }
  
  .faq-item.active .faq-question::after {
    content: '▼';
    font-size: 1em;
    transform: rotate(180deg); /* Rotate 180 degrees */
  }
  
  .faq-question::after {
    content: '▼';
    font-size: 1em;
    margin-left: 10px; /* Add some space between the text and the symbol */
    transition: transform 0.3s ease; /* Smooth transition */
  }
  @media(max-width:600px){
    .faq-answer p,.faq-question{
      font-size: 13px;
    }
  }
